@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@using Todos.ApiClient.Models;
@inject ApiClient.Models.IClient _client
@inject IConfiguration _configuration

<PageTitle>Ma liste de todos</PageTitle>

<div class="card">
    <div class="card-title">Mes todos
        <div class="float-end"><button @onclick="refresh">Refresh</button></div>
    </div>
</div>



Welcome to your new app.
<table>
    <thead>
        <tr>
            <th>
                #Id
            </th>
            <th>
                Libelle
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in todos)
        {
            <tr>
                <td>


                    @todo.Id
                </td>
                <td>
                    @todo.Title
                </td>
            </tr>
        }
    </tbody>
</table>
<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private HubConnection? hubConnection;





    public int counter { get; set; }

    public List<TodoModel> todos;
    protected override async Task OnInitializedAsync()
    {

        hubConnection = new HubConnectionBuilder()
          .WithUrl(_configuration["UrlApi"] + "ws/Signalr")

          .Build();


        hubConnection.On("tupeuxrefresh", async () =>
        {

            await refresh();
            await InvokeAsync(StateHasChanged);

        });
        await hubConnection.StartAsync();
        await refresh();
    }

    async Task refresh()
    {
        todos = (await _client.Todos_GetTodosAsync())?.ToList() ?? default!;
    }
    void Add()
    {
        counter += 1;
    }
}
